TOKEN=YOUR_BOT_TOKEN_HERE

DBHOST=YOUR_DATABASE_HOST
DBPORT=YOUR_DATABASE_PORT
DBNAME=YOUR_DATABASE_NAME
DBUSER=YOUR_DATABASE_USER
DBPASS=YOUR_DATABASE_PASSWORD

DISCORD_CLIENT_ID=YOUR_CLIENT_ID
DISCORD_CLIENT_SECRET=YOUR_CLIENT_SECRET
DISCORD_REDIRECT_URI=YOUR_REDIRECT_URI

VERIFICATION_URI=YOUR_VERIFICATION_URI_WITHOUT_GUILD_ID
PRIVACY_POLICY_URI=YOUR_PRIVACY_POLICY_URI

API_KEY=YOUR_API_KEY_HERE

OWNER_ID=THE_OWNER_ID
RESTORE_ENDPOINT=YOUR_RESTORE_ENDPOINT